doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Battery Services
    link(rel="stylesheet", href="/css/style2.css")

  body.register-page
    .nav-set
      nav.navbar
        .logo ParkEase
        ul.nav-links
          li
            a(href="/tyreService") Tyre Clinic
        .nav-right
          a.logout-btn(href="/manager") Logout

      .form-card
        h2 Battery Hire and Sale Service

        form#batteryForm(method="post" action="/battryServices")
                    .form-group
    label(for="BatteryId") Select Battery
    select#batteryId(name="BatteryId")
    option(value="" selected disabled) -- Choose Battery--
    if availableBattries && availableBattries.length > 0
        each battery in availableBattries
            //- option(value=Battery._Id ) #{Battery.batteryType} - #{Battery.batteryBrand}

    .form-group
            label(for="numberPlate") Number Plate
            input#numberPlate(
              type="text",
              name="numberPlate",
              placeholder="Enter Ugandan plate number",
              pattern="^U[A-Z]{2}\\s?[0-9]{1,4}[A-Z]?$",
              title="Must start with U and use Ugandan plate format, e.g. UAX 123A",
              required
            )

    .form-group
        label(for="transactionType") Transaction Type
        select#serviceType(name="transactionType")
              option(value="") -- Select Transaction --
              option(value="hire") Hire
              option(value="sale") Sale

    .form-group
            label(for="amountPaid") Amount Paid (UGX)
            input(
              type="number"
              id="amountPaid"
              name="amountPaid"
              placeholder="Enter Amount due in UGX"
            )

    button#submitBtn.btn(type="button") submit

    script(src="public/js/btransaction.js")
